# --- OS & Système ---
.DS_Store
Thumbs.db
.directory

# --- Sécurité & Environnement (CRITIQUE) ---
.env
.env.*
!.env.example
.pypirc
# Clés privées potentielles
*.pem
*.key

# --- Python & Venv ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Environnements virtuels
venv/
.venv/
env/
.python-version

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# Dossier où collectstatic rassemble les fichiers (ne pas versionner)
staticfiles/
# Dossier des uploads utilisateurs (ne pas versionner)
media/

# --- Frontend (Node / Tailwind) ---
# Même si tu utilises Docker, ces dossiers peuvent apparaître en local
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# --- Docker & Data Persistance ---
# Données BDD (ne jamais versionner les volumes de données)
postgres_data/
influxdb_data/
influxdb_config/
static_volume/

# Fichiers de surcharge Docker pour le dev local
docker-compose.override.yml
docker-compose.dev.yml
# J'ai corrigé ta ligne 'docker-compose-.dev.ymlg'
.docker/

# --- Outils de Qualité de Code & Tests ---
# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
# Pytest / Tox
.pytest_cache/
.tox/
.nox/
# Linter caches
.ruff_cache/
.mypy_cache/
.dmypy.json

# --- IDE & Éditeurs ---
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/
# Cursor
.cursorignore
.cursorindexingignore

# --- Documentation ---
# Si tu génères de la doc Sphinx ou MkDocs localement
docs/_build/
site/

# --- Spécifique au projet ---
