services:
  # Base de données relationnelle pour Django
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - internal_net
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 300M

  # Base de données Séries Temporelles (Capteurs)
  influxdb:
    image: influxdb:2-alpine
    container_name: influxdb_v2
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb_config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=${DOCKER_INFLUXDB_INIT_MODE}
      - DOCKER_INFLUXDB_INIT_USERNAME=${DOCKER_INFLUXDB_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
    healthcheck:
      test: "curl -f http://localhost:8086/health || exit 1"
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - internal_net
    restart: always
    deploy:
      resources:
        limits:
          memory: 300M

  # Collecteur de données (MQTT -> InfluxDB)
  telegraf:
    image: telegraf:alpine
    container_name: telegraf
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - TTN_BROKER=${TTN_BROKER}
      - TTN_APP_ID=${TTN_APP_ID}
      - TTN_API_KEY=${TTN_API_KEY}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
    depends_on:
      influxdb:
        condition: service_healthy
    networks:
      - internal_net
    restart: always
    deploy:
      resources:
        limits:
          memory: 100M

  # Ton Backend Django
  web:
    build: ./web
    # Force la commande ici pour être sûr (surcharge le Dockerfile)
    command: gunicorn station_meteo.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./web:/app
      - static_volume:/app/staticfiles
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      influxdb:
        condition: service_healthy # Optionnel, si l'app a besoin d'influx au démarrage
    healthcheck:
      test: "curl -f http://localhost:8000/ || exit 1" # Suppose qu'une route racine existe, sinon /admin/login/
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - internal_net
    restart: always
    deploy:
      resources:
        limits:
          memory: 300M

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    # ports:
    #   - "80:80"  <-- Removed to funnel traffic through tunnel
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles
    depends_on:
      web:
        condition: service_healthy
    networks:
      - internal_net
    restart: always

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
    networks:
      - internal_net
    restart: always

volumes:
  postgres_data:
  influxdb_data:
  influxdb_config:
  static_volume:


networks:
  internal_net:
    driver: bridge
