services:
  # Base de données relationnelle pour Django
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - internal_net
    restart: always

  # Base de données Séries Temporelles (Capteurs)
  influxdb:
    image: influxdb:2-alpine
    container_name: influxdb_v2
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb_config:/etc/influxdb2
    env_file:
      - .env
    healthcheck:
      test: "curl -f http://localhost:8086/health || exit 1"
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - internal_net
    restart: always

  # Collecteur de données (MQTT -> InfluxDB)
  telegraf:
    image: telegraf:alpine
    container_name: telegraf
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - TTN_BROKER=${TTN_BROKER}
      - TTN_APP_ID=${TTN_APP_ID}
      - TTN_API_KEY=${TTN_API_KEY}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
    depends_on:
      influxdb:
        condition: service_healthy
    networks:
      - internal_net
    restart: always

  # Ton Backend Django
  web:
    build: ./web
    container_name: django_web
    command: gunicorn station_meteo.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./WEB_Station_Meteo:/app
      - static_volume:/app/staticfiles
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - internal_net
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles
    depends_on:
      - web
    networks:
      - internal_net

volumes:
  postgres_data:
  influxdb_data:
  influxdb_config:
  static_volume:


networks:
  internal_net:
    driver: bridge
