[Unit]
Description=Station Meteo Docker Compose Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/meteo/WEB_Station_Meteo

# Augmenter le temps limite car le premier pull/build peut être long sur SD
TimeoutStartSec=300

# La commande de lancement
ExecStart=/usr/bin/docker compose up -d --remove-orphans

# La commande d'arrêt propre
ExecStop=/usr/bin/docker compose down

# CRUCIAL : Si la commande échoue (ex: Docker pas prêt), on réessaie
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target