[Unit]
Description=Station Meteo Docker Compose Service
Requires=docker.service
After=docker.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Ajustez le chemin vers votre dossier projet
WorkingDirectory=/home/arth/Projet/WEB_Station_Meteo
# Assurez-vous que docker-compose est dans le PATH ou utilisez le chemin absolu /usr/local/bin/docker-compose
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down
ExecReload=/usr/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
